[class*="col-"] {
    border: solid 1px white;
    background-color:  blue;
    height: 50px;
    color: white;
    text-align: center;
}

.container {
    background-color: white;
}

.row {
    background-color: yellow;
}

.cha_col {
    background-color: lightgreen;
    border: solid 1px blue;
}

.pd {
    padding: 10px;
    background-color: blue;
}

.mr {
    margin: 40px auto;
}

.nb {
    border: none;
}

.sa {
    justify-content: space-around;
}

.sb {
    justify-content: space-between;
}

